body{
    font-family: 'Roboto', sans-serif;
    background-color: #1A2238;
    color: #fff;
}

h1{
    font-size: 6vh;
    text-align: center;
    padding-top: 5vh;
}

h2{
    font-size: 3.5vh;
    padding-top: 6vh;
    padding-left: 17vh;
}

#greeting{
    font-size: 3.5vh;
    padding-top: 6vh;
    text-align: center;
    padding-left: 0vh;
}

h3{
    font-size: 2.5vh;
}
div.review{
    padding-left: 17vh;
}

#title-section{
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #FF6A3D;
}

footer{
    padding-top: 6vh;
    text-align: center;
    color: #F4DB7D;
    font-weight: bold;
}

img.mitsu{
    max-width: 50%;
    box-shadow: 10em;
    border: 5px solid #fff;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

img.review-image{
    max-width: 35%;
    border: 5px solid #FF6A3D;
}
figcaption{
    background-color: #fff;
    color: #161616;
    max-width: 51.019%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    
}
